#header {
    width: 900px;
    height: 100px;
    border-radius: 20px;
    background: red;
    padding: 20px;
    margin-bottom: 10px;
}

#menu {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background: rebeccapurple;
    padding: 20px;
    float: left;
}


ul {
    margin: 0;
    padding: 0;
}

#menu li {
    list-style: none;
    padding: 10px;
}

#menu a {
    color: red;
    text-decoration: none;
}

.pagination-container {
    list-style: none;
}

    .pagination-container li {
        display: inline;
    }

#content {
    float: left;
    width: 650px;
    height: 300px;
    border-radius: 20px;
    background: blue;
    padding: 20px;
    margin-left: 10px;
}
